@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body
{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

/* En-tête de page */

/* * HEADER */

header 
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#conteneur 
{
    padding: 0px 3% 3%;
    margin-bottom: 20px;
}

/* NAV */

nav 
{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul 
{
    display: flex;
}

nav li 
{
    padding: 8%;
    list-style: none;
    width: 33%;
}

nav a 
{
    text-decoration: none;
    color: black;
}

.nav_lien a 
{
    padding: 58px 30px 0 30px;
}

.nav_lien_signin 
{
    font-weight: bold;
    color: #0065FC;
}

.nav_lien a:hover 
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.visit
{
    color: #009DFF;
    text-decoration: none;
}


/* Champs de recherche */
.position
{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 17px;
}

.icon_btn_rech
{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

input[type=search]
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", Sans-serif;
    text-decoration: none;
    outline: none;
}

input[type=search]:focus
{
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
}

.btn_rech
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", Sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.btn_rech:hover
{
    background-color: #009DFF;
}

.btn_clic
{
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 15px;
}

.fa-search
{
    display: none;
}

.media_icone
{
    display: none;
}

.filtre 
{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-top: 29px;
}
  
.filtre h3 
{
    margin-right: 2em;
}
  
.contenu-filtre 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.contenu-filtre a 
{
    display: flex;
    align-items: center;
    height: 2.813em;
    background: none;
    font-size: 1rem;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    border-left: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding: 0px 20px 0px 0px;
    margin-right: 1.438em;
    outline: none;
    text-decoration: none;
    color: black;
}
  
.icone 
{
    background-color: #deebff;
    padding: 0.813em;
    border-radius: 100%;
    color: #0065fc;
    margin-right: 0.25em;
    margin-left: -0.125em;
}
  
.contenu-filtre a:hover 
{
    background-color: #0065fc;
    color: white;
    border-color: #0065fc;
    border-left: none;
}

.icon_nom
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
    position: relative;
}

.icon_dim
{
    height: 1rem;
    width: 1rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 0.7em;
}

.text_nom_log
{
    margin-left: 1px;
}

/* Proposition D'Herbergement */
#tout_herbergement
{
    width: 100%;
    display: flex;
}

#tout_herbergement a 
{
    text-decoration: none;
    color: black;
}

.propo_heb
{
    background-color: #F2F2F2;
    width: 67%;
    height: 33%;
    border-radius: 2%;
    margin-right: auto;
}

.heb_text
{
    margin-left: 42px;
    margin-bottom: 20px;
    padding: 25px 0px 1px 10px; /* au dessus=px | a droite=px | en dessous=px | a gauche=px */
}

.list_heb
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.list_heb a 
{
    width: 29%;
    padding-bottom: 20px;
}

.hebergement
{
    background-color: white;
    width: 246px;
    height: 199px;
    border-radius: 9%;
    margin-bottom: 30px;
    margin-right: 30px;
}

.img_hebergement
{
    object-fit: cover; /* pour pas que l'image sois écraser */
    width: 236px;
    height: 114px;
    margin-left: 5px;
    margin-top: 5px;
    border-top-left-radius: 20px; /* pour l'arrodie des bordure */
    border-top-right-radius: 20px;
}

.titre_hebergement
{
    margin-left: 20px;
    line-height: 0.05rem;
}

h4
{
    display: block;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;
    font-weight: none;
    line-height: 0.02px;
}

.text_hebergement
{
    font-size: 0.95em;
    margin-left: 20px;
    line-height: 0.2px;
}

.Star_hebergement
{
    margin-left: 20px;
    line-height: 0.02px;
}

.fas.fa-star.grey 
{
    color: #f2f2f2;
}

.fa-star
{
    display: flex;
    color: #0065FC;
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin: 0rem 0rem 0rem 0rem;
}

.plus_hebergement
{
    margin-left: 45px;
    padding: 0px 0px 1px 10px;
}

.btn_plus
{
    color: #1D1D1D;
    text-decoration: none;
}

/* Herbergement Populaire */
.populaire 
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    height: 33%;
}

.text_populaire 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    margin-bottom: -35px;
    margin-top: 25px;

}

.text_populaire h2 
{
    width: 65%;
}

.text_populaire i 
{
    font-size: 20px;
}

.populaire_figure 
{
    background-color: white;
    border: 5px solid white;
    box-shadow: 5px 5px 15px #cecece;
    border-radius: 20px;
    height: 140px;
    display: flex;
    margin: 32px 40px;
    min-width: 290px;
}

.populaire_figure figcaption 
{
    margin-left: 5%;
    max-width: 170px;
}

.populaire_figure img 
{
    width: 130px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    min-width: 130px;
}

.populaire_figure h3 
{
    margin: 10px 0px 0px 0px;
}

.populaire_figure p 
{
    margin: 5px 0px 25px 0px;
    font-size: 14px;
}

/* Fin_Populaire */

#proposition_activites 
{
    margin-top: 50px;
}

.list_activites a 
{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.activity_figure img 
{
    border-radius: 20px;
    box-shadow: 10px 5px 15px #cecece;
    width: 290px;
    height: 100%;
    object-fit: cover;
}

.activity_figure 
{
    margin: 0px;
    height: 100%;
}

.activity_figure figcaption 
{
    position: relative;
    bottom: 60px;
    height: 60px;
    width: 290px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;

}

.list_activites h3 
{
    padding-left: 5%;
}

.list_activites 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 65px;
    grid-template-areas:
        "big1 small1 big2 small3"
        "big1 small2 big2 small4";
}

.grande1 
{
    grid-area: big1;
}

.grande2 
{
    grid-area: big2;
}

.petite1 
{
    grid-area: small1;
    height: 200px;
}

.petite2 
{
    grid-area: small2;
    height: 200px;
}

.petite3 
{
    grid-area: small3;
    height: 200px;
}

.petite4 
{
    grid-area: small4;
    height: 200px;
}

 /* Fin de la page web */
 footer 
 {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 2% 3%;
}

.info_fin_de_page 
{
    width: 40%;
}

footer a 
{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1350px) 
{
    body
    {
        width: 100%;
    }

    #tout_herbergement
    {
        display: block;
    }

    .list_heb
    {
        width: 100%;
    }

    .propo_heb
    {
        width: 100%;
    }

    .populaire
    {
        width: 100%;
        height: 650px;
    }

    .list-populaire
    {
        width: 100%;
    }
    

    .list_activites
    {
        grid-template-areas:
        "big1 big2 small3"
        "small1 small2 small4";
    }

    .grande1
    {
        height: 200px;
    }

    .grande2
    {
        height: 200px;
    }


}

@media screen and (max-width: 950px) 
{
    .list_activites
    {
        grid-template-areas:
        "big1 big2"
        "small1 small2"
        "small3 small4";
    }

    .petite3
    {
        margin-top: 0%;
    }
    .grande1
    {
        margin-top: 0%;
    }
    .grande2
    {
        margin-top: 0%;
    }
}

@media screen and (max-width: 870px)
{
    .list_heb
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hebergement
    {
        width: 335px;
        height: 200px;
        margin-left: 25%;
    }

    .img_hebergement
    {
        width: 325px;
        height: 115px;
    }

    .fin_de_page
    {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) 
{
   
    #tout_herbergement
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .propo_heb
    {
        background-color: white;
        margin-top: 10px;
    }

    .heb_text
    {
        margin-left: 15%;
    }

    .hebergement
    {
        margin-left: 50%;
    }

    .plus_hebergement
    {
        margin-left: 15%;
    }


    .list_activites
    {
        display: flex;
        flex-direction: column;
    }

    .activity_figure
    {
        width: 335px;
        height: 190px;
    }

}

@media screen and (max-width: 540px)
{
    header
    {
        display: flex;
        flex-direction: row;
    }

    .navContent
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .navContent
    {
        display: flex;
    }

    .nav_lien
    {
        margin-right: 0;
        margin-left: 0px;
    }

    .nav_lien_signin
    {
        order: 1;
    }

    .propo_heb
    {
        margin-top: 10px;
    }

    .heb_text
    {
        margin-left: 17%;
    }
}

@media screen and (max-width: 616px) 
{
    .info_fin_de_page
    {
        width: 100%;
    }
}

@media screen and (max-width: 490px) 
{
    .hebergement
    {
        margin-left: 1%;
    }
    
    .heb_text
    {
        margin-left: 1%;
    }

    .plus_hebergement
    {
        margin-left: 1%;
    }
}

@media screen and (max-width: 380px) 
{
    body
    {
        width: 100%;
    }

    #conteneur
    {
        width: 100%;
        margin: 0;
        padding: 0%;
    }

    header
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row: 50% 50%;
    }


    .logo
    {
        height: 72px;
    }

    nav
    {
        display: flex;
        margin-right: 0px;
        justify-content: none;
        direction: unset;
    }

    ul
    {
        padding-inline-start: 0%;
    }

    li
    {
        text-align: left;
        position: unset;
        margin-bottom: 50%;

    }

    .nav_lien
    {
        margin-top: 10%;
    }

    .nav_lien:nth-child(1)
    {
        position: absolute;
        left: 5px;
    }

    .nav_lien:nth-child(2)
    {
        position: absolute;
        right: 0px;
    }

    .nav_lien li
    {
        padding: 0%;
        margin-right: 50%;
    }
    
    .nav_lien a
    {
        padding: 0%;
    }
    
    .nav_lien ul
    {
        padding: 0px;
        margin-right: 0%;
        justify-content: flex-start;
        position: relative left;
    }

    .nav_lien_signin
    {
        position: absolute;
        right: 20px;
    }

    .text_info_hebergement
    {
        margin-top: 50px;
    }

    .btn_rech
    {
        background-color: none;
        color: none;
        padding: 0;
        border-radius: 1rem;
    }

    .btn_clic
    {
        display: none;
    }

    .media_icone
    {
        display: block;
    }

    .text_info_hebergement
    {
        margin-left: 5%;
    }

    .position
    {
        margin-left: 5%;
    }

    .filtre
    {
        margin-left: 5%;
    }

    .fa-search
    {
        width: 33px;
        margin-left: 15px;
        margin-top: 17px;
        background-color: #0065FC;
        color: white;
        border-radius: 2rem;
    }

    .fa-search:hover
    {
        background-color: #009DFF;
    }

    .populaire
    {
        width: 100%;
        border-radius: 0%;
    }

    .text_populaire
    {
        margin-block-end: 5%;
    }

    .list-populaire
    {
        width: 100%;
        height: 580px;
    }

    .populaire_figure
    {
        margin: 0px;
        margin-top: 5%;
        margin-left: 2%;
        width: 335px;
        height: 145px;
    }

    .heb_text
    {
        margin-left: 2%;
    }

    .hebergement
    {
        margin-left: 7%;
    }

    .plus_hebergement
    {
        margin-left: 2%;
    }

    .activity_figure img
    {
        width: 335px;
        height: 200px;
    }

    .activity_figure figcaption
    {
        width: 335px;
    }

    .activity_figure
    {
        margin-left: 5%;
    }

    .titre_activites
    {
        margin-left: 8%;
    }

}