@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body
{
    font-family: "Raleway", sans-serif;
}

/* En-tête de page */
header
{
    display: flex;
    margin: 0;
    align-items: center;
}
nav
{
    grid-area: navbar;
    display: flex;
    align-items: center;
}
.logo
{
    margin-right: 800px;
    padding: 35px 0px 0px 0px;
}
.nav-lien
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
    color:#838486;
    text-decoration: none;
    padding: 35px 0px 0px 0px;
}

.nav-lien:nth-child(1)
{
    text-decoration: none;
    border-top: 3px solid #009DFF;
    border-width: 2px;
    width: 130px;
    text-align: center;
    padding: 35px 0px 0px 0px;
}

.nav-inscription
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    color:#838486;
    text-decoration: none;
    padding: 35px 0px 0px 0px;
}

.visit
{
    color: #009DFF;
    text-decoration: none;
}

a:hover
{
    color: #009DFF;
    text-decoration: overline;
}
/* Champs de recherche */
.titre_heb
{
    position: relative;
    top: 15px;
}

.text_heb
{
    margin: px;
}

.position
{
    display: flex;
    width: 100%;
    position: relative;
    top: 10px;
}

.icon_btn_rech
{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.position_ville
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", Sans-serif;
}

.btn_rech
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", Sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.btn_clic
{
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 15px;
}

.filtre 
{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: 35px;
}
  
.filtre h3 
{
    margin-right: 2em;
}
  
.contenu-filtre 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.contenu-filtre button 
{
    display: flex;
    align-items: center;
    height: 2.813em;
    background: none;
    font-size: 1rem;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    border-left: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding: 0px 20px 0px 0px;
    margin-right: 1.438em;
    outline: none;
}
  
.icone 
{
    background-color: #deebff;
    padding: 0.813em;
    border-radius: 100%;
    color: #0065fc;
    margin-right: 0.75em;
    margin-left: -0.125em;
}
  
.contenu-filtre button:hover 
{
    background-color: #0065fc;
    color: white;
    border-color: #0065fc;
    border-left: none;
}

.icon_nom
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
    position: relative;
    top: 55px;
}

.icon_dim
{
    height: 1rem;
    width: 1rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 0.7em;
}

.text_nom_log
{
    margin: 0;
}

/* Proposition D'Herbergement */
.tout_herbergement
{
    display: flex;
}

.propo_heb
{
    background-color: #F2F2F2;
    position: relative;
    top: 65px;
    width: 900px;
    height: 660px;
    border-radius: 2%;
}

.heb_text
{
    margin: 25px;
    padding: 25px 0px 1px 10px; /* au dessus=px | a droite=px | en dessous=px | a gauche=px */
}

.list_heb
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 0px 10px;
}

.hebergement
{
    background-color: white;
    width: 237px;
    height: 200px;
    margin: 20px;
    border-radius: 7%;
    padding: 5px 5px 10px 5px;
}

.img_hebergement
{
    object-fit: cover; /* pour pas que l'image sois écraser */
    width: 236px;
    height: 115px;
    border-top-left-radius: 20px; /* pour l'arrodie des bordure */
    border-top-right-radius: 20px;
}

.text_hebergement
{
    font-size: 0.95em;
    margin: 10px;
}

.titre_hebergement
{
    margin: 10px;
}

.fa-star
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 0.7em;
    margin: 0rem 0rem 0rem 0rem;
}

/* Herbergement Populaire */

.populaire
{
    background-color: #F2F2F2;
    position: relative;
    top: 65px;
    width: 440px;
    height: 50%;
    margin-left: 35px;
    border-radius: 2%;
}

.text_populaire
{
    margin: 25px;
    padding: 25px 0px 1px 10px;
}

.list_populaire
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 0px 10px;
}

.herbergement_populaire
{
    display: flex;
    background-color: white;
    width: 350px;
    height: 125px;
    margin: 20px;
    border-radius: 7%;
    padding: 5px 5px 10px 5px;
}
 .img_populaire
 {
    object-fit: cover; /* pour pas que l'image sois écraser */
    width: 150px;
    height: 130px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
 }

 .titre_populaire
 {
     margin: 10px;
 }