/* En-tête de page */
h1
{
    font-size: 1.5em;
}
li
{
    font-size: 1.2em;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav li
{
    margin-right: 70px;
}
nav a
{
    color: #587bf9;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #838486;
    text-decoration: none;
}
/* Champs de recherche */
.Filtre
{
    display: flex;
}
nav preference
{
    display: flex;
    flex-direction: row-reverse;
}
.pref:nth-child(1)
{
    border: 3px inset;
    border-radius: 25px;
    width: 125px;    
}
.pref:nth-child(2)
{
    border: 3px inset;
    border-radius: 25px;
    width: 85px;
}
.pref:nth-child(3)
{
    border: 3px inset;
    border-radius: 25px;
    width: 125px;
}
.pref:nth-child(4)
{
    border: 3px inset;
    border-radius: 25px;
    width: 175px;
}